.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 10px;
  justify-content: center;
}

.label {
  display: flex;
  flex-flow: column;
}

.label-text {
  margin-bottom: 3px;
  color: var(--colour-text-secondary);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}

.input {
  width: 160px;
  padding: 14px 24px 14px 24px;

  color: var(--colour-text-select);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  background: var(--colour-bg-select);
  outline: none;
  border: none;
}

.input::placeholder {
  color: var(--colour-text-select);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.range {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--colour-text-select);
  background: var(--colour-bg-select);
  border-radius: 10px;
  outline: none;
  border: none;
}

.min {
  width: 130px;
  height: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding: 14px 0px 14px 24px;

  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.max {
  width: 130px;
  height: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  padding: 14px 0px 14px 24px;
  outline: none;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.btn-search {
  height: 40px;
  padding: 10px 44px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    margin-bottom: 50px;
    gap: 18px;
    align-items: flex-end;
  }

  .label-text {
    margin-bottom: 8px;
  }

  .btn-search {
    width: 136px;
  }
}
